# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# env
.env
.env.*.local
.env.local

# TypeScript
*.tsbuildinfo
